################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VSTSRestApiSamples/bin/Debug
/VSTSRestApiSamples.UnitTests/bin/Debug
/VSTSRestApiSamples.UnitTests/obj/Debug
/VSTSRestApiSamples/packages
/VSTSRestApiSamples/obj/Debug
/VstsClientLibrariesSamples/bin/Debug
/VstsClientLibrariesSamples/obj/Debug
/VSTSRestApiSamples/VstsClientLibrariesSamples.Tests/bin/Debug
/VSTSRestApiSamples/VstsClientLibrariesSamples.Tests/obj/Debug
/VSTSRestApiSamples/VstsClientLibrariesSamples.Tests/ConfigurationLocal.cs
/VstsClientLibrariesSamples.Tests/obj/Debug
/VstsClientLibrariesSamples.Tests/bin/Debug
*.suo
/packages
/VstsClientLibrariesSamples.Tests/app.Debug.config
/VstsClientLibrariesSamples.Tests/app.Release.config
