################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VSTSRestApiSamples/bin/Debug
/VSTSRestApiSamples.UnitTests/bin/Debug
/VSTSRestApiSamples.UnitTests/obj/Debug
/VSTSRestApiSamples/packages
/VSTSRestApiSamples/obj/Debug
