<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Services.Client" version="15.116.0-preview" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Services.Notifications.WebApi" version="15.116.0-preview" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
</packages>