<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="appsetting.uri" value="" />
    <add key="appsetting.collectionid" value="" />
    <add key="appsetting.pat" value="" />
    <add key="appsetting.project" value="" />
    <add key="appsetting.team" value="" />
    <add key="appsetting.movetoproject" value="" />
    <add key="appsetting.query" value="Shared Queries/Current Iteration/Open User Stories" />
    <add key="appsetting.identity" value="" />
    <add key="appsetting.workitemids" value="" />
    <add key="appsetting.workitemid" value="" />
    <add key="appsetting.filepath" value="" />
  </appSettings>
</configuration>